*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #0f0826;
    font-family: 'Montserrat', sans-serif;
    
}
@media screen and (min-width: 778px) {
    nav img {
        width: 45%;
    }
}

/* principal*/
aside{
    width: 100%;
}

video{
    width:100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.background--banner{
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background-color: transparent black;
}
.imagotipo{
    flex: 1;
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction:column;
    justify-content: end;
    align-items: start;
    gap: 15px;
}
.imagotipoimg{
    min-width: 500px;
}
.catalogos{
    padding-block: 2px;
    background-color: black;
    color: white;

}
.catalogo--peliculas{
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180,auto));
    gap:1rem;
    margin-top: 2rem;
   
}
.peliculas{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 270px;
    overflow-x: scroll;
}
.pelis:hover{
   transform: translateY(-10px);
   transition: 0.2 all linear;
    display: flex;

}
.peliculas::-webkit-scrollbar{
    width: 0;
    height: 0;
}
@media( max-width: 1080px){

}
@media( max-width: 991px){
    .catalogo--peliculas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .peliculas {
        display: flex;
        flex-wrap:nowrap;
        justify-content: space-between;
   
    }

    .pelis {
        width: 50%; /* O el ancho deseado para dispositivos pequeños */
        height: auto;
        margin-bottom: 10px; /* Espaciado entre imágenes */
        object-fit: cover;
    }
}
/* ... */

@media (max-width: 774px) {
    .catalogo--peliculas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .peliculas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pelis {
        width: 50%; /* O el ancho deseado para dispositivos pequeños */
        height: auto;
        margin-bottom: 10px; /* Espaciado entre imágenes */
    }
}

.imagenNav{
    width: 40%;
}

nav img {
    width: 100%;
}

nav {
    position: fixed;
    
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
footer{
    background-color: #0f0826;
    height: 100%;
    margin-top: auto;
    text-align: center;
}
.imgFooter{
    margin-top: 10px;
    height: 90px;
}
.textoFooter{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width: 778px){
  
    nav img{
        width: 45%;
    }
    }

#bodyContacto{
    background-color: #382281;
}
#fondoFormulario{
    border-radius: 1em;
}
    